body {
  background-color: lightgrey;
  font-family: cursive;
}
.blog-heading {
  background: white;
  padding:2px;
  text-align: center;
  color: blue;
}
.blog-content {
  width: 720px;
  margin: 0 auto;
}
.blog-post {
  background-color: white;
  padding: 20px;
  margin: 10px 0;
}
.blog-post h2 {
  font-size: 25px;
}
.blog-post h4 {
  font-size: 12px;
  color: teal;
  border-bottom: solid 1px #eee;
  padding: 0 0 10px;
  margin: 0 0 10px;
}
.blog-post p {
  font-size: 15px;
}
.blog-footer p {
  font-size: 12px;
  padding: 0 0 5px;
}
footer {
  font-size: 14px;
  color: #aaa;
  text-align: center;
}
